<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:list id="listDemo">
        <value type="java.lang.String">aaa</value>
        <value type="java.lang.String">bbb</value>
        <value type="java.lang.String">ccc</value>
        <value type="java.lang.String">ddd</value>
    </util:list>

    <util:list id="listDemo2">
        <value type="java.lang.String">aaa</value>
        <value type="java.lang.String">bbb</value>
        <value type="java.lang.String">ccc</value>
        <value type="java.lang.String">ddd</value>
    </util:list>

</beans>